* {
margin: 0px;
padding: 0px;
}

.container {
margin: auto;
padding: 5vh;
}

.logo{
height: 12vh;
justify: left;
float: left;
align: left;

}

header {
background-color: #3ab795;
}

nav {
padding: 2vh;
}
 ul {
 list-style-type: none;
  justify-content: space-around;
  align-content: center;
  display: flex;
  font-weight: bold;
  align-items: center;
  }

  li {
  display: flex;
  justify: space;
  color: white;

  }

  .nav-link{
  color: white;
  float: center;
  position: relative;
 font-family: 'Raleway', sans-serif;
  font-size: 18px;
  }

  a {
  text-decoration: none;
    color:white;
  }

.button {
      color: black;
      background-color: white;
      border: 2px solid #3ab795;
      padding: 5px;
      margin: 5px;
      display: inline-block;
  }

.button:hover {
     color:white;
     background-color: #3ab795;
     padding: 5px;
     display: inline-block;

  }

  th {
    padding: 1vh;
    text-align: left;
  }
  td {
    padding: 2vh;
    text-align: left;
  }

  table {
    align-content: left;
    display: flex;
    justify-content: space-around;
  }

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star {
    cursor: pointer;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/star.png') 0 -16px;
}

.rating-star:hover {
    background-position: 0 0;
}.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/star.png') 0 -16px;
}


#display-rating-1 {
 height: 5vh;
}
#display-rating-2 {
 height: 5vh;
}
#display-rating-3 {
 height: 5vh;
}
#display-rating-4 {
 height: 5vh;
}
#display-rating-5 {
 height: 5vh;
}

input[type='checkbox']
    {
    display: none;
    }



/*HEART ICON*/

id="heart"] {
  opacity:0;
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1.30em;
  margin: 2px;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  /*background: transparent;*/
  opacity:0;
}

[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {0%, 17.5% {font-size: 0;}}





/*
.heart-icon{
    cursor: pointer;
    position: relative;
    display: block;
    z-index: -1;
    width: 30px;
    height: 30px;
    background: url('./heart1.png');

*/

.heart-icon:hover{
background-position 0 0;

}








