<h1>Your Banana Tree Branch</h1>

<div class="container">

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Selling</th>
    </tr>

        <tr>
            <td>$user.getName()</td>
            <td>$user.getEmail()</td>
            <td><a href="/users/$user.getId()/selling">Items for sale</a></td>
        </tr>
    </table>


</div>