<h1>Buy on Banana Tree</h1>

<div class="container">
    <table>
        <td>
#foreach($category in $categories) <a href="/adverts/$category.getValue()">$category.getValue()</a>
#end
        </td>
    </table>
</div>