<!DOCTYPE html>

<html>
<head><title>Banana Tree</title> <link rel="stylesheet" href="/style.css"></head>

<body>

<a href="/">Home</a>
<a href="/adverts">All Adverts</a>
<a href="/sign up">Sign Up</a>

<div class="container">
    #parse( $template )
</div>
</body>
</html>