
<div class="container">
    <div class="single-advert-item">
    <h1 class="nested-2">Sell on Banana Tree</h1>
    <h2 class="nested-2"><a href="/users/1/selling">View Your Adverts</a></h2>
    <h2 class="nested-2"><a href="/adverts/new">Create new Advert</a></h2>


    </div>


</div>